<div class="view-scope scope-page-about">
    <div class="page-section about-section">
        <div class="section-header">Pse Edge Web Scraper</div>
        <div class="section-content">
            <div class="version">v 1.0.0 - Jul 07, 2017</div>
            <pre>
<b><u>Development Team</u></b>

<b>Developed by:</b>     Paul Kenneth A. Enriquez
<b>Documented by:</b>    Joseph Gerard F. Reyes
                  Juaneo D. Fernando
                  Timothy Spencer T. Tan</pre>
            <pre>
<b><u>Libraries Used</u></b>

This system was developed using the Ruby on Rails (5.0.3) framework.

pg                            0.21.0        PostgreSQL library for Rails
httparty                      0.13.7        Makes HTTP GET/POST requests
nokogiri                      1.8.0         Parses HTML documents
delayed_job                   4.1.3         Allows processes to run asynchronously
delayed_job_active_record     4.1.2         <i>delayed_job dependency</i>
daemons                       1.2.4         Allows delayed_job to run on production
parse-cron                    0.1.4         Parses cron expressions
axlsx_rails                   0.5.1         Generates xlsx files
rubyzip                       1.1.7         <i>axlsx_rails dependency</i>
axlsx                         2.1.0.pre     <i>axlsx_rails dependency</i>
will_paginate                 3.1.6         Adds pagination to large lists
jquery-rails                  4.3.1         jQuery library for Rails
sass-rails                    5.0.6         SASS library for Rails
material_icons                2.2.1         Rails wrapper for Material Icons library</pre>
        </div>
    </div>
</div>