<div class="view-scope scope-page-scraper">
    <div class="scraper-status">
        <div>Scraper Status</div>
        <div>Not running</div>
    </div>
    <div class="scrape-session-history">
        
    </div>
</div>